.hero {
  width: 100%;
  height: 100%;
  position: relative;
}
Img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.hero-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.hero-text h1 {
  font-size: 3rem;
  font-weight: bold;
  background: #17161a;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-text p {
  font-size: 1.7rem;
  color: #17161a;
  padding:0.5rem 0 2 rem 0;
  margin-bottom: 2rem;
}
.hero-text .show {
  text-decoration: none;
  background: #fff;
  padding:1rem 2rem;
  margin-top: 2rem;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #222;
}
