.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}
Img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.hero-text h1 {
  font-size: 3rem;
  font-weight: bold;
  background: #000000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.hero-text p {
  font-size: 1.7rem;
  font-weight: 800;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000000;
  padding: 1rem 0 2rem 0;
  margin-bottom: 2rem;
}
.hero-text .show {
  text-decoration: none;
  background: #fff;
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #222;
}
.hero-text .show:hover {
  background: yellow;
  color: #222;
  transition: all 0.5s ease-out;
}
@media screen and (max-width: 850px) {
  .hero-text h1 {
    padding: 10px 20px;
    position: relative;
  }
  .hero-text p {
    font-size: 1rem;
    padding: 0 0 2rem 0;
  }
  .hero-text .show {
    padding: 0.6rem 1rem;
    background: blue;
    border-radius: 10px;
    font-size: 1rem;
    color: #fff;
    /* display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 40% 0 40%; */
  }
}
