@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.App {
  text-align: center;
}

* {
  /* font-family: Blippo, fantasy; */
  font-family: Franklin Gothic Medium;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
}
* p{
  font-size: 20px;
  
}